{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center mt-2">
  <div class="col col-md-8">
    {% if not transactions_received and not transactions_sent %}
    <h1 class="mt-2">You dont have any transactions as of yet!</h1>
    {% endif %} {% if transactions_sent %}
    <h1>Debited</h1>
    {% for transaction in transactions_sent %}
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">Amount: {{transaction.amount}}$</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Transaction Type: {{transaction.transaction_type}}
        </h6>
        <p class="card-text">
          <b>Bank</b>: {{transaction.branch.bank}} <br />
          <b>Bank Branch</b>: {{transaction.branch}} <br />
          <b>Sent To</b>: {{transaction.sent_to}} <br />
          <b>Sent At:</b> {{transaction.timestamp}} <br />

          {% if transaction.description %}
          <b>Description:</b> {{transaction.description}} {% endif %}
        </p>
      </div>
    </div>
    {% endfor %} {% endif %} {% if transactions_received %}
    <h1 class="mt-2">Credited</h1>
    {% for transaction in transactions_received %}
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">Amount: {{transaction.amount}}$</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Transaction Type: {{transaction.transaction_type}}
        </h6>
        <p class="card-text">
          <b>Bank</b>: {{transaction.branch.bank}} <br />
          <b>Bank Branch</b>: {{transaction.branch}} <br />
          <b>Sent By</b>: {{transaction.sent_by}} <br />
          <b>Received At:</b> {{transaction.timestamp}} <br />

          {% if transaction.description %}
          <b>Description:</b> {{transaction.description}} {% endif %}
        </p>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock content %}
